div.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 231, 231);
    padding-top: 2rem;
    color: rgb(177, 8, 177);
    div.icons-img a , img{
            margin: .5rem;
            cursor: pointer;
        }
}
